# macOS
.DS_Store

# Python 
__pycache__/
.ipynb_checkpoints
*.egg-info/
build/
dist/

# Environments
.env
.venv
env/
venv/

# TeX
*.aux
*.log
*.fls
*.out
*.bbl
*.blg
*.fdb_latexmk

# Custom  
archive/
experiments/
paper/
